@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'NotoSans';
    src: url('../src/assets/NotoSans.ttf') format('truetype');
}

main {
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.page-container {
    min-height: 90vh;
}