.about-image-wrapper svg{
    stroke-width: 3px;
    animation: animatePath 5s linear infinite;
    filter: drop-shadow(0px 0px 20px rgb(61, 255, 94));
}

@keyframes animatePath {
    0% {
      stroke-dasharray: 0, 100;
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dasharray: 100, 0;
      stroke-dashoffset: -100;
    }
}